Flask Dependencies

Flask
Jinja2
sqlite3
SQLAlchemy
Werkzeug
itsdangerous
flask-migrate
flask-SQLAlchemy
alembic
Flask-Script
MarkupSafe

Image Processing Dependencies

numpy 
scipy 
matplotlib 
pil 
pillow 
simplecv 
scikit-learn 
mahotas 
ilastik 
pprocess 
h5py 
scikit-image